<div id="content" class="container-fluid">
  <h1>Añadir una pregunta</h1>
  <form action="" method="POST">
    <p>
      <label for="statement"> Enunciado: </label>
      <textarea id="statement" name="statement" rows="5" style="width: 98%;"></textarea>
    </p>
    <p>
      <label for="answer1"> Respuesta 1: </label>
      <textarea id="answer1" name="answer1" rows="5" style="width: 98%;"></textarea>
      <label class="checkbox">
        <input type="checkbox" name="answer1sol" value="1" />
        Es correcta
      </label>
    </p>
    <p>
      <label for="answer2"> Respuesta 2: </label>
      <textarea id="answer2" name="answer2" rows="5" style="width: 98%;"></textarea>
      <label class="checkbox">
        <input type="checkbox" name="answer2sol" value="1" />
        Es correcta
      </label>
    </p>
    <p>
      <label for="answer3"> Respuesta 3: </label>
      <textarea id="answer3" name="answer3" rows="5" style="width: 98%;"></textarea>
      <label class="checkbox">
        <input type="checkbox" name="answer3sol" value="1" />
        Es correcta
      </label>
    </p>
    <p>
      <label for="answer4"> Respuesta 4: </label>
      <textarea id="answer4" name="answer4" rows="5" style="width: 98%;"></textarea>
      <label class="checkbox">
        <input type="checkbox" name="answer4sol" value="1" />
        Es correcta
      </label>
    </p>
    <p>
      <input type="submit" value="Enviar" class="btn btn-primary">
    </p>
  </form>
</div>
